.row
  .col-md-8.col-sm-offset-1#main-slider
    .carousel.slide.wet-asphalt
      %ol.carousel-indicators
        - @inspirings.each_with_index do |index,ins|
          - if ins == @inspirings.first
            %li.active{"data-slide-to" => "#{index}", "data-target" => "#main-slider"}
          - else    
            %li{"data-slide-to"        => "#{index}", "data-target" => "#main-slider"} 
             
        //%li.active{"data-slide-to" => "0", "data-target" => "#main-slider"}
        //%li{"data-slide-to"        => "1", "data-target" => "#main-slider"}
        //%li{"data-slide-to"        => "2", "data-target" => "#main-slider"}
      .carousel-inner
        - @inspirings.each do |ins|
          - if ins == @inspirings.first
            .item.active{style: "background-image: url(#{ins.photo.url})"}
          - else 
            .item{style: "background-image: url(#{ins.photo.url})"}
              .container
                .row
                  .col-sm-12
                    .carousel-content.centered
                      %h2.animation.animated-item-4
                        = ins.title
         
    %a.prev.hidden-xs{"data-slide" => "prev", href: "#main-slider"}
      %span.glyphicon.glyphicon-chevron-left
    %a.next.hidden-xs{"data-slide" => "next", href: "#main-slider"}
      %span.glyphicon.glyphicon-chevron-right
  / /#main-slider
  .col-md-3
    %h4 Top 5
    %div
      - @inspirings.each do |ins|
        .media
          .pull-left
            %img{alt: "", src: "#{ins.photo.url(:thumb)}"}/
          .media-body
            %span.media-heading
              %a{href: "#"}=  ins.title
            %small.muted Posted "#{ins.posted_on.strftime('%d %b %Y')}"

      