.row
  .col-md-8.col-sm-offset-1#main-slider
    .carousel.slide.wet-asphalt
      %ol.carousel-indicators
        - @top_posts.each_with_index do |index,ins|
          - if ins == @top_posts.first
            %li.active{"data-slide-to" => "#{index}", "data-target" => "#main-slider"}
          - else    
            %li{"data-slide-to"        => "#{index}", "data-target" => "#main-slider"} 
             
        //%li.active{"data-slide-to" => "0", "data-target" => "#main-slider"}
        //%li{"data-slide-to"        => "1", "data-target" => "#main-slider"}
        //%li{"data-slide-to"        => "2", "data-target" => "#main-slider"}
      .carousel-inner
        - @top_posts.each do |ins|
          - if ins == @top_posts.first
            .item.active{style: "background-image: url(#{ins.photo.url})"}
          - else 
            .item{style: "background-image: url(#{ins.photo.url})"}
              .container
                .row
                  .col-sm-12
                    .carousel-content.centered
                      %h2.animation.animated-item-4
                        = ins.title
         
    %a.prev.hidden-xs{"data-slide" => "prev", href: "#main-slider"}
      %span.glyphicon.glyphicon-chevron-left
    %a.next.hidden-xs{"data-slide" => "next", href: "#main-slider"}
      %span.glyphicon.glyphicon-chevron-right
  
.row
  .col-md-8.col-sm-offset-1
    .blog-lists-blog.clearfix
      %h2.blogpost-wrapper-title Recent Posts 
      .blogposts-wrapper.clearfix
        - @inspirings.each do |ins|
          .row.clearfix
            %ul          
              %li.full-left.clearfix
                .magbig-thumb
                  %a.post-thumbnail{:href => "/inspirings/#{ins.id}", :title => "#{ins.title}"}
                    %img{:alt => "#{ins.title}", :src => "#{ins.photo.url(:medium)}", :width=> 250, :height=> 140}/
                .list-block.clearfix
                  %h3
                    %a{:href => "/inspirings/#{ins.id}", :title => "#{ins.title}"} #{ins.title}                     
                  .post-meta-blog
                    %span.meta_author
                    %span.meta_date= ins.created_at.strftime('%B %d, %Y')
                  .maga-excerpt.clearfix
                    %p= ins.short_content 
                    %a.btn.btn-default{:href => "/inspirings/#{ins.id}"}
                      Read More
                      %i.icon-angle-right
          %hr/
  / /#main-slider
  .col-md-3
    %h2.blogpost-wrapper-title Top Posts
    %div
      - @top_posts.each do |ins|
        .media
          .pull-left
            %img{alt: "", src: "#{ins.photo.url(:thumb)}"}/
          .media-body
            %span.media-heading
              %a{href: "/inspirings/#{ins.id}"}=  ins.title
            %small.muted Posted "#{ins.posted_on.strftime('%d %b %Y')}"

      